body {
    font: 12px sans-serif;
    margin: 0px;
}

input {
    border: none;
    outline: none;
    padding: 8px;
}
input:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
button:focus {
    box-shadow: inset 0 0 0 2px #18a0fb;
}
#create:focus {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}
input:focus {
    box-shadow: inset 0 0 0 2px #18a0fb;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    border: none;
    width: 100%;
    height: 539px;
    padding: 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    outline: none;
    background: black;
    border: 2px solid green;
    color: green;
    resize: none;
}

.output-units {
    display: flex;
    gap: 15px;
}

button {
    font-size: 18px;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 0;
    background: black;
    color: green;
    border: 2px solid green;
    border-right: 1px solid green;
    border-left: 1px solid green;
    border-bottom: 0;
    outline: none;
}

.selected {
    background: #323332;
}

.header {
    display: flex;
    border: 1px solid green;
}

.copy-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.close {
    flex-grow: 1;
}
