body {
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
}

.settings-panel {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    height: 100%;
    overflow-y: auto;
    /* padding: var(--space-m); */
    border-right: 1px solid var(--figma-color-border);
}

.output-panel {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 0 1 70%;
    position: relative;
}

.output-panel .sticky-button-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--space-s);
}

.output-panel .button--clipboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-panel .code-output {
    padding: var(--space-l);
    outline: none;
    border: none;
    background: var(--figma-color-bg-secondary);
    color: var(--figma-color-text-secondary);
    resize: none;
    flex: 1 0 auto;
}

.output-tabs {
    display: flex;
    background: var(--figma-color-bg);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--figma-color-border);
    color: var(--figma-color-text-secondary);
    padding-right: var(--space-s);
}

.panel-toggle {
    /* border-top: 1px solid var(--figma-color-border); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid var(--figma-color-border);
    
}

.panel-toggle-button .icon {
    color: inherit;
    width: var(--icon-size);
    height: var(--icon-size);
}

.panel-toggle-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    padding: var(--space-xs) var(--space-s);
}

.panel-toggle-options {
    padding: var(--space-xs) var(--space-s);
}
